@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bg-image {
  background-image: url("./assets/business_units_img6.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.tech-image {
  background-image: url("./assets/tech.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.stock-ticker {
  padding: 20px;
  border-top: 5px solid;
  border-bottom: 5px solid;
  overflow: hidden;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
  margin: 0 20px;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
