{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'aboutus.css' %}">

  
</head>
<body>
  <section class="hero">
    <div class="heading">
      <h2>About Us</h2>
    </div>
    <div class="container">
      <div class="hero-content">
        <h2> welcome to our website</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ex vero ducimus nihil temporibus fuga ullam? Nihil optio nostrum vero dolores deleniti voluptatem magnam. 
          At quibusdam laudantium sint optio unde.</p>
          <button class="cta-button">Learn More</button>

      </div>
      <div class="hero-images">
        <img src="{% static 'images/img2.jpg'%}">
      </div>
    </div>

  </section>



<!------------>

<section class="hero">
  <div class="heading">
    <h2>Mission Statement</h2>
  </div>
  <div class="container">
    <div class="hero-content">
      <h2> welcome to our website</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ex vero ducimus nihil temporibus fuga ullam? Nihil optio nostrum vero dolores deleniti voluptatem magnam. 
        At quibusdam laudantium sint optio unde.</p>
        <button class="cta-button">Learn More</button>

    </div>
    <div class="hero-images">
      <img src="{% static 'images/img3.jpg'%}">
    </div>
  </div>

</section>



</body>
</html>  